.menuBook{
  width: 100%;
  font-size: 20px;
  color: white !important;
  background-color: #354b73 !important;
  margin: 10px !important;
  text-align: right !important;

}

.input{
  margin: 10px !important;
  width: 100% !important;
  .submit{
    background-color: rgb(190, 48, 4) !important;
  }
}

.inputSize{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
   


