@mixin pageConfig {

    background-Color: #eee !important;
      border-Radius: 5px;
      border-width: 1px;
      border-style: solid;
      border-color: #ddd;
      display: flex;
      flex-Direction: column;
      height: 100;
      width: 100%;
      margin: 40;
      color: red !important;
      padding: 20;
      justify-Content: center;
      align-Items: center;
}

.main{
  @include pageConfig();
}